@using System.Linq
@model IEnumerable<MoviesApp.ViewModels.ActorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
             <p class="card-text-center">First name</p>
        </th>
        <th>
             <p class="card-text-center">Last name</p>
        </th>
        <th>
            <p class="card-text-center">Date of birthday</p>
        </th>
        <th>
            <p class="card-text-center">Movies</p>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.DateOfBirth.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.ActorMovies.Count()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>